
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="MasGlobal TestApi Employees">
    <meta name="author" content="Dairo Rojas">
    <meta name="viewport" content="width=device-w   dth" />
    <title>MasGlobal TestApi DairoRojas</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/album.css" rel="stylesheet">
</head>
<body>
    @using (Html.BeginForm())
    {
        @RenderBody()
    }
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Volver a arriba</a>
            </p>
            <p>MasGlobal.TestApi&copy;Dairo Rojas</p>
        </div>
    </footer>
    <script src="~/Scripts/vendor/popper.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.slim.min.js"></script>
    <script src="~/Scripts/vendor/holder.min.js"></script>
</body>
</html>